/* Container des boutons du menu "Seul" */
#btnMenuSeul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: 800px;
  margin: 2rem auto;
  flex-wrap: wrap;
}

/* Styles communs */
.btnMenuCasseTete,
.btnMenuQuiz,
a.btnMenuCasseTete,
a.btnMenuQuiz {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

#btnMenuSeul a.btnMenuCasseTete,
#btnMenuSeul a.btnMenuQuiz {
  flex: 1 0 49%;
  box-sizing: border-box;
  min-width: 0;
  font-size: 20px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bordures */
.btnMenuCasseTete::before,
.btnMenuQuiz::before,
.btnMenuCasseTete::after,
.btnMenuQuiz::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.btnMenuCasseTete::before,
.btnMenuQuiz::before {
  top: 0;
  border-bottom-width: 0;
}

.btnMenuCasseTete::after,
.btnMenuQuiz::after {
  bottom: 0;
  border-top-width: 0;
}

/* Active / Focus */
.btnMenuCasseTete:active,
.btnMenuQuiz:active,
.btnMenuCasseTete:focus,
.btnMenuQuiz:focus {
  outline: none;
}

.btnMenuCasseTete:active::before,
.btnMenuQuiz:active::before,
.btnMenuCasseTete:active::after,
.btnMenuQuiz:active::after {
  right: 3px;
  left: 3px;
}

.btnMenuCasseTete:active::before,
.btnMenuQuiz:active::before {
  top: 3px;
}

.btnMenuCasseTete:active::after,
.btnMenuQuiz:active::after {
  bottom: 3px;
}

/* Partie interne */
.btnMenuCasseTete_lg,
.btnMenuQuiz_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #004864;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
  width: 100%;
}

.btnMenuCasseTete_lg::before,
.btnMenuQuiz_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.btnMenuCasseTete_lg::after,
.btnMenuQuiz_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.btnMenuCasseTete_sl,
.btnMenuQuiz_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #00aab6;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btnMenuCasseTete_text,
.btnMenuQuiz_text {
  position: relative;
}

/* Hover */
.btnMenuCasseTete:hover,
.btnMenuQuiz:hover {
  color: #0f1923;
}

.btnMenuCasseTete:hover .btnMenuCasseTete_sl,
.btnMenuQuiz:hover .btnMenuQuiz_sl {
  width: calc(100% + 15px);
}

.btnMenuCasseTete:hover .btnMenuCasseTete_lg::after,
.btnMenuQuiz:hover .btnMenuQuiz_lg::after {
  background-color: #fff;
}
