
/* Page Quiz  */
/*-----------------------------------------------------------------------*/

#mainQuiz {
    display: flex;
    flex-direction: row;
    align-items: center;
    ;
    justify-content: center;
    color: #fff;
    text-align: center;
    flex-direction: column;
}



#buttonQuestionQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttonQuestionQuiz button {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: inline-block;
    width: 40rem;
    height: 5rem;
    margin: 2rem;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    border-radius: 10px;
    box-shadow: 0 .9em gray;
    cursor: pointer;
}

#buttonQuestionQuiz button:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}



#buttonSoumettreQuiz {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: inline-block;
    width: 15rem;
    height: 3rem;
    margin: 2rem;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    border-radius: 10px;
    box-shadow: 0 .9em gray;
    cursor: pointer;
}




#buttonSoumettreQuiz:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

